/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require grails
*= require main
*= require mobile
*= require_self
*/

require bootstrap

.container-fluid{
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #ddd;
    padding: 0px;
    margin: 3px 4px 3px 6px;
    height: 50px;
}

/*.brand{
    position: absolute;
    text-align: center;
    transform: translateY(50%) translateX(20%);
}*/

/*
.wrapper{
    height: inherit !important;
}
*/

.dropdown-menu{
    top: 75%;
    right: 26px !important;
}

.dropdown-menu ul li a {
    background: transparent;
}

.nav li.dropdown.open ul.dropdown-menu {
    background-color: white;
}

.wrapper1{
    display: inline-flex;
    width: 100%;
    height: 100%;
}

#header{
    width: 100%;
}